scoring_service/n8n_workflows/cfo_cohort_scoring.json
{
  "name": "CFO Cohort Scoring from Supabase + Stripe",
  "nodes": [
    {
      "id": "sched2",
      "name": "Daily Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        180,
        260
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "days",
              "daysInterval": 1
            }
          ]
        }
      }
    },
    {
      "id": "supabase1",
      "name": "Fetch Funnel Rollup",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        430,
        260
      ],
      "parameters": {
        "operation": "getAll",
        "tableId": "v_funnel_rollup",
        "returnAll": true
      }
    },
    {
      "id": "code1",
      "name": "Prepare CFO Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        700,
        260
      ],
      "parameters": {
        "jsCode": "return items.slice(0,20).map(item => { const r = item.json; const gap = Math.max(0,(0.05 - Number(r.paid_conversion_rate||0))); return {json:{agent:'CFO',decision_type:'paid_offer_after_failed_appeal',volume:Math.min((r.sessions||0)/500,1),consistency:0.72,accuracy:0.76,revenue:Math.min((gap*10),1),traffic:Math.min((r.sessions||0)/800,1),compounding:0.60,volatility:0.25,dependency:0.25,compliance:0.10,trend:0.74,decay:0.40,window:0.65,uncertainty:0.35,experiment:0.55,gap:Math.min(gap*20,1),metadata:{entry_page:r.entry_page,cluster:r.cluster,sessions:r.sessions,paid_conversion_rate:r.paid_conversion_rate}}}; });"
      }
    },
    {
      "id": "http1",
      "name": "Score",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        970,
        260
      ],
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:8000/analyze",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$json}}"
      }
    },
    {
      "id": "slack1",
      "name": "Slack CFO Insight",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        1220,
        260
      ],
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "list",
          "value": "cfo-insights"
        },
        "text": "=CFO cohort insight: {{$json.metadata.entry_page}} | {{$json.action}} | score {{$json.decision_score}}"
      }
    }
  ],
  "connections": {
    "Daily Trigger": {
      "main": [
        [
          {
            "node": "Fetch Funnel Rollup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Funnel Rollup": {
      "main": [
        [
          {
            "node": "Prepare CFO Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare CFO Payload": {
      "main": [
        [
          {
            "node": "Score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Score": {
      "main": [
        [
          {
            "node": "Slack CFO Insight",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}