scoring_service/n8n_workflows/cmo_real_data_refresh_queue.json
{
  "name": "CMO Real Data Refresh Queue",
  "nodes": [
    {
      "id": "sched1",
      "name": "Daily Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        180,
        260
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "days",
              "daysInterval": 1
            }
          ]
        }
      }
    },
    {
      "id": "http1",
      "name": "Fetch Search Console Rows",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        430,
        260
      ],
      "parameters": {
        "method": "POST",
        "url": "https://www.googleapis.com/webmasters/v3/sites/{{SITE_URL_ENCODED}}/searchAnalytics/query",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"startDate\":\"{{$now.minus({days:7}).toFormat('yyyy-MM-dd')}}\",\"endDate\":\"{{$now.toFormat('yyyy-MM-dd')}}\",\"dimensions\":[\"page\"],\"rowLimit\":250}"
      }
    },
    {
      "id": "code2",
      "name": "Prepare CMO Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        710,
        260
      ],
      "parameters": {
        "jsCode": "const rows = $json.rows || []; return rows.slice(0,25).map(r => ({json:{agent:'CMO',decision_type:'refresh_declining_page',volume:Math.min((r.impressions||0)/1000,1),consistency:0.70,accuracy:0.75,revenue:0.35,traffic:Math.min((r.impressions||0)/1500,1),compounding:0.80,volatility:0.20,dependency:0.15,compliance:0.10,trend:0.80,decay:0.85,window:0.70,uncertainty:0.30,experiment:0.40,gap:0.75,metadata:{page:r.keys?.[0]||null,clicks:r.clicks,impressions:r.impressions,ctr:r.ctr,avg_position:r.position}}}));"
      }
    },
    {
      "id": "http2",
      "name": "Score",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        980,
        260
      ],
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:8000/analyze",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$json}}"
      }
    },
    {
      "id": "if1",
      "name": "Approval?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1220,
        260
      ],
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.action}}",
              "operation": "equal",
              "value2": "APPROVAL"
            }
          ]
        }
      }
    },
    {
      "id": "slack1",
      "name": "Slack Approval",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        1450,
        200
      ],
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "list",
          "value": "content-growth"
        },
        "text": "=CMO refresh candidate: {{$json.metadata.page}} | score {{$json.decision_score}}"
      }
    },
    {
      "id": "supabase2",
      "name": "Queue Refresh Candidate",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1450,
        340
      ],
      "parameters": {
        "operation": "insert",
        "tableId": "content_queue",
        "columns": "queue_type,target_url,cluster,reason,score,status",
        "additionalFields": {}
      }
    }
  ],
  "connections": {
    "Daily Trigger": {
      "main": [
        [
          {
            "node": "Fetch Search Console Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Search Console Rows": {
      "main": [
        [
          {
            "node": "Prepare CMO Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare CMO Payload": {
      "main": [
        [
          {
            "node": "Score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Score": {
      "main": [
        [
          {
            "node": "Approval?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Approval?": {
      "main": [
        [
          {
            "node": "Slack Approval",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Queue Refresh Candidate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}