scoring_service/n8n_workflows/stripe_webhook_to_supabase.json
{
  "name": "Stripe Webhook -> Supabase Billing Events",
  "nodes": [
    {
      "id": "webhook1",
      "name": "Stripe Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        220,
        260
      ],
      "parameters": {
        "path": "stripe-billing-events",
        "httpMethod": "POST",
        "responseMode": "onReceived"
      }
    },
    {
      "id": "code1",
      "name": "Normalize Stripe Event",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        260
      ],
      "parameters": {
        "jsCode": "const e = $json.body || $json; const obj = e.data?.object || {}; return [{json:{stripe_event_id:e.id,event_type:e.type,customer_id:obj.customer || null,subscription_id:obj.subscription || obj.id || null,amount_cents:obj.amount_paid || obj.amount_due || null,currency:obj.currency || null,status:obj.status || null,source_page:obj.metadata?.source_page || null,cohort:obj.metadata?.cohort || null}}];"
      }
    },
    {
      "id": "supabase1",
      "name": "Insert Billing Event",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        760,
        260
      ],
      "parameters": {
        "operation": "insert",
        "tableId": "billing_events",
        "columns": "stripe_event_id,event_type,customer_id,subscription_id,amount_cents,currency,status,source_page,cohort",
        "additionalFields": {}
      }
    }
  ],
  "connections": {
    "Stripe Webhook": {
      "main": [
        [
          {
            "node": "Normalize Stripe Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Stripe Event": {
      "main": [
        [
          {
            "node": "Insert Billing Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}